ion-toolbar {
  --background: #a4d2d3;
}

ion-toolbar ion-title {
  background-color: #a4d2d3;
  color: black;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
  width: 100%;
}

.content {
  --background: #e8d3ae;;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  text-align: center;
}

.box {
  width: 85%;
  height: 900px;
  background-color: #EED3AE;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

.box h2 {
  color: #987654;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive;
  margin-bottom: 20px;
}

.button-styling {
  background-color: #cccccc;
  color: #4b4747;
  font-size: 1.2em; 
  padding: 50px 50px;
  border-radius: 20px; 
  border: none; 
  cursor: pointer;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Comic Sans MS', cursive;
}

.button-styling:hover {
  background-color: #aaaaaa;
}


