<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true" class="device-list">
  <ion-searchbar [(ngModel)]="searchText" class="search-bar"></ion-searchbar>

  <div class="center-container">
    <ion-list class="device-list">
      <ion-item *ngFor="let device of devices | filter: searchText" 
                (click)="showSensorDetails(device.dispositivoId, device.nombre, device.electrovalvulaId)" 
                button="true" 
                class="device-item"
                [appTooltip]="device.nombre + ' -- ID: ' + device.dispositivoId + ' -- Electrovalvula: ' + device.electrovalvulaId + ' -- Ubicacion: ' + device.ubicacion" >

        <ion-label>
          <h2 appColorear>{{ device.nombre }}</h2>
          <p>
            <ion-icon name="location" slot="start"></ion-icon>
            {{ device.ubicacion }}
          </p>
        </ion-label>
      </ion-item> 
    </ion-list>
  </div>
  <div class="center-container">
    <ion-button *ngIf="showDetalleSensor" (click)="hideDetalleSensor()" class="close-button">
      Cerrar Detalles
    </ion-button>
  </div>

  <app-detalle-sensor *ngIf="showDetalleSensor" [deviceName]="selectedDeviceName" [deviceId]="selectedDeviceId" [electrovalveId]="selectedElectrovalveId"></app-detalle-sensor>
</ion-content>


