:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gauge-chart-container {
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin-bottom: 20px; 
}

.button-container {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  background-color: "#ffffff"
}

.button {
  display: block;
  width: 100%;
  max-width: 600px;
  margin-bottom: 3px;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  color: rgb(114, 106, 106);
  background-color: #d7bde2;
  border: 2px solid #d7bde2;
  border-radius: 5px;
  cursor: pointer;
}

.button:last-child {
  margin-bottom: 0; 
}

.button:hover {
  color: #3498db;
  background-color: white;
}

.measurement-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; 
  margin-bottom: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 13px;
}

.measurement-table th,
.measurement-table td {
  padding: 10px;
  text-align: left;
  //border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
}

.measurement-table th {
  background-color: #f2f2f2;
  color: #333;
}

.measurement-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.measurement-table tbody tr:hover {
  background-color: #f2f2f2;
}

.container-chart {
  margin-top: 15px;
}

.measurement-table-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; 
  align-items: center;
  justify-content: center;
}