<div id="gauge-chart-container" style="width: 100%; height: 400px;" class="container-chart"></div>

<div class="button-container">
  <button class="button"(click)="toggleElectrovalve()">
    {{ electrovalveOpen ? 'CERRAR ELECTROVALVULA' : 'ABRIR ELECTROVALVULA' }}
  </button>
  
  <button class="button" (click)="toggleMedicionesTabla()">
    {{ showTable ? 'OCULTAR MEDICIONES' : 'VER TODAS LAS MEDICIONES' }}
  </button>
  <div class="measurement-table-container">
    <table class="measurement-table" *ngIf="showTable && measurements.length > 0">
      <thead>
        <tr>
          <th>Dispositivo ID</th>
          <th>Fecha</th>
          <th>Valor</th>
          <th>Medicion ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let measurement of measurements">
          <td>{{ measurement.dispositivoId }}</td>
          <td>{{ measurement.fecha }}</td>
          <td>{{ measurement.valor }}</td>  
          <td>{{ measurement.medicionId }}</td> 
        </tr>
      </tbody>
    </table>
  </div>
  <button class="button" (click)="toggleLogsTabla()">
    {{ showTableRiegos ? 'OCULTAR LOGS' : 'VER LOG RIEGOS' }}
  </button>
  <div class="measurement-table-container">
    <table class="measurement-table" *ngIf="showTableRiegos && riegos.length > 0">
      <thead>
        <tr>
          <th>Log riego Id</th>
          <th>Apertura</th>
          <th>Fecha</th>
          <th>Electrovalula Id</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let riego of riegos">
          <td>{{ riego.logRiegoId}}</td>
          <td>{{ riego.apertura }}</td>  
          <td>{{ riego.fecha }}</td>
          <td>{{ riego.electrovalvulaId }}</td>  
        </tr>
      </tbody>
    </table>
  </div>
</div>


